body{
	background: rgb(252,0,0);
	background: radial-gradient(circle, rgba(252,0,0,1) 0%, rgba(255,171,0,1) 16.5%, rgba(245,255,0,1) 33%, rgba(0,255,76,1) 49.5%, rgba(0,254,255,1) 66%,rgba(0,39,255,1)82.5%, rgba(209,0,255,1) 99%);
}

.grad{
	background-image: linear-gradient(yellow, red);
	border-style: solid;
	border-width: 2px 2px 1px 2px;
	border-color: #4a4a4a;
}
.navbar {
	overflow: hidden;
	border-style: solid;
	border-width: 1px 2px 2px 2px;
	border-color: #4a4a4a;
	background-image: linear-gradient(red, yellow);
}

.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}
.navbar a.right {
	float: right;
}

.navbar a:hover {
	background-image: linear-gradient(yellow, red);
	color: black;

}

h1 {
	color: #FFCE73;
}

.code {
	font-family: "Courier New";
	font-weight: 500;
}